<!DOCTYPE html>
<html lang="en">
    {% load static%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Application</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/chat.css'%}">
    
</head>
<body>
<div id="chatContainer">
    {% block content %}
    <h1>InterviewBuddy</h1>
        <div id="chat">
            {% for message in chat_list %}
                <div>
                <p>
                    <p>{{ message.content|safe }}</p>
                    <p class="account">{{ message.role }}</p>
                </p>
                </div>
            {% endfor %}
        </div>
        <form id="chatForm" method="post">
            {% csrf_token %}
            <input type="text" class="form-control" name="user_input" id="userInput" placeholder="Type your message...">
            <button type="submit" class="btn btn-primary mt-3" id="buttonInput">Submit</button>
        </form>
    {% endblock content %}
</div>

</body>
</html>