<!DOCTYPE html>
<html lang="en">
{% load static%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
    <title>Home Page</title>
</head>
<body>
<div class="container">
    <div class="welcome">
        <h1>Welcome to the InterviewBuddy!</h1>
        <a href="{% url 'login' %}"><button class="button-79" role="button">Login</button></a>
        <a href="{% url 'register' %}"><button class="button-79" role="button">Register</button></a>
    </div>
</div>
</body>
</html>