@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
html {
    background: #114B5F;
}
body {
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
}

#chatContainer {
    text-align: center;
    color:#fff;
    height: 100%;

}
/* Adjust the chat dimensions */
#chat {
    border: 1px solid #ccc;
    padding: 20px;
    width: 1000px;
    height: inherit;
    max-height: 70vh;
    overflow-y: auto;
    margin-bottom: 20px;
    border-radius: 10px;
}

#chat div {
    width: 100%;
    border: 1px solid #d3d3d35e;
    border-left: 0;
    border-right: 0;
}

#chat div p {
    max-width: 60%;
    margin-bottom: 0;
}

#chat div:nth-child(odd) {
    text-align: -webkit-right;
}

#chat div:nth-child(even) {
    text-align: left;
}
.account {
    color: #d3d3d399;
    margin: 0;
    font-size: smaller;
}

#chatForm {
    justify-content: center;
    display: flex;
}

#userInput {
    width: 70%;
    padding: 10px;
    margin-right: 10px;
}

button {
    color: #fff;
    background: #009579;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: 0.4s;
    padding: 0.5rem 1rem;
    border-radius: 2px;
}

button:hover{
    background: #006653;
}

